# Linear Regression Consulting Project

Congratulations! You've been contracted by Hyundai Heavy Industries to help them build a predictive model for some ships. [Hyundai Heavy Industries](http://www.hyundai.eu/en) is one of the world's largest ship manufacturing companies and builds cruise liners.

You've been flown to their headquarters in Ulsan, South Korea to help them give accurate estimates of how many crew members a ship will require.

They are currently building new ships for some customers and want you to create a model and use it to predict how many crew members the ships will need.

Here is what the data looks like so far:

    Description: Measurements of ship size, capacity, crew, and age for 158 cruise
    ships.


    Variables/Columns
    Ship Name     1-20
    Cruise Line   21-40
    Age (as of 2013)   46-48
    Tonnage (1000s of tons)   50-56
    passengers (100s)   58-64
    Length (100s of feet)  66-72
    Cabins  (100s)   74-80
    Passenger Density   82-88
    Crew  (100s)   90-96
    
It is saved in a csv file for you called "cruise_ship_info.csv". Your job is to create a regression model that will help predict how many crew members will be needed for future ships. The client also mentioned that they have found that particular cruise lines will differ in acceptable crew counts, so it is most likely an important feature to include in your analysis! 

Once you've created the model and tested it for a quick check on how well you can expect it to perform, make sure you take a look at why it performs so well!

In [1]:
import findspark
findspark.init('/home/gkouskosv/spark-2.4.5-bin-hadoop2.6/')

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('lr_cons_hyundai').getOrCreate()

In [4]:
data = spark.read.csv('cruise_ship_info.csv', header=True, inferSchema=True)

In [5]:
data.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [6]:
data.columns

['Ship_name',
 'Cruise_line',
 'Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'crew']

In [7]:
data.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 20 rows

In [8]:
data.groupBy('Cruise_line').count().show()

+-----------------+-----+
|      Cruise_line|count|
+-----------------+-----+
|            Costa|   11|
|              P&O|    6|
|           Cunard|    3|
|Regent_Seven_Seas|    5|
|              MSC|    8|
|         Carnival|   22|
|          Crystal|    2|
|           Orient|    1|
|         Princess|   17|
|        Silversea|    4|
|         Seabourn|    3|
| Holland_American|   14|
|         Windstar|    3|
|           Disney|    2|
|        Norwegian|   13|
|          Oceania|    3|
|          Azamara|    2|
|        Celebrity|   10|
|             Star|    6|
|  Royal_Caribbean|   23|
+-----------------+-----+

## Setting Up DataFrame for Machine Learning

In [9]:
# Import VectorAssembler, SrtingIndexer and Vectors
from pyspark.ml.regression import LinearRegression
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import StringIndexer, VectorAssembler

In [20]:
stringInexer = StringIndexer(inputCol='Cruise_line', outputCol='Cruise_labeled')

In [21]:
s = stringInexer.fit(data)

In [22]:
td = s.transform(data)

In [23]:
td.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+--------------+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|Cruise_labeled|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+--------------+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|          16.0|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|          16.0|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|           1.0|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|           1.0|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|           1.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|           1.0|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|           1.0|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|           1.0|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|           1.0|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|           1.0|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|           1.0|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|           1.0|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|           1.0|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+--------------+
only showing top 20 rows

In [57]:
td.select('Cruise_line', 'Cruise_labeled').distinct().orderBy(td['Cruise_labeled'].desc()).show()

+-----------------+--------------+
|      Cruise_line|Cruise_labeled|
+-----------------+--------------+
|           Orient|          19.0|
|          Crystal|          18.0|
|           Disney|          17.0|
|          Azamara|          16.0|
|           Cunard|          15.0|
|         Windstar|          14.0|
|         Seabourn|          13.0|
|          Oceania|          12.0|
|        Silversea|          11.0|
|Regent_Seven_Seas|          10.0|
|              P&O|           9.0|
|             Star|           8.0|
|              MSC|           7.0|
|        Celebrity|           6.0|
|            Costa|           5.0|
|        Norwegian|           4.0|
| Holland_American|           3.0|
|         Princess|           2.0|
|         Carnival|           1.0|
|  Royal_Caribbean|           0.0|
+-----------------+--------------+

In [58]:
# 2nd way with sorted() method
sorted(set([(i[0], i[1]) for i in td.select(['Cruise_line', 'Cruise_labeled']).collect()]), key=lambda x: x[1])

[('Royal_Caribbean', 0.0),
 ('Carnival', 1.0),
 ('Princess', 2.0),
 ('Holland_American', 3.0),
 ('Norwegian', 4.0),
 ('Costa', 5.0),
 ('Celebrity', 6.0),
 ('MSC', 7.0),
 ('Star', 8.0),
 ('P&O', 9.0),
 ('Regent_Seven_Seas', 10.0),
 ('Silversea', 11.0),
 ('Oceania', 12.0),
 ('Seabourn', 13.0),
 ('Windstar', 14.0),
 ('Cunard', 15.0),
 ('Azamara', 16.0),
 ('Disney', 17.0),
 ('Crystal', 18.0),
 ('Orient', 19.0)]

In [59]:
td.columns

['Ship_name',
 'Cruise_line',
 'Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'crew',
 'Cruise_labeled']

In [62]:
assembler = VectorAssembler(
    inputCols=['Age',
        'Tonnage',
        'passengers',
        'length',
        'cabins',
        'passenger_density',
        'Cruise_labeled'],
    outputCol='features')

In [63]:
output = assembler.transform(td)

In [69]:
output.select('features').show()

+--------------------+
|            features|
+--------------------+
|[6.0,30.276999999...|
|[6.0,30.276999999...|
|[26.0,47.262,14.8...|
|[11.0,110.0,29.74...|
|[17.0,101.353,26....|
|[22.0,70.367,20.5...|
|[15.0,70.367,20.5...|
|[23.0,70.367,20.5...|
|[19.0,70.367,20.5...|
|[6.0,110.23899999...|
|[10.0,110.0,29.74...|
|[28.0,46.052,14.5...|
|[18.0,70.367,20.5...|
|[17.0,70.367,20.5...|
|[11.0,86.0,21.24,...|
|[8.0,110.0,29.74,...|
|[9.0,88.5,21.24,9...|
|[15.0,70.367,20.5...|
|[12.0,88.5,21.24,...|
|[20.0,70.367,20.5...|
+--------------------+
only showing top 20 rows

In [71]:
 final_data = output.select(['features', 'crew'])

In [72]:
train_data, test_data = final_data.randomSplit([0.7,0.3])

In [73]:
train_data.describe().show()

+-------+------------------+
|summary|              crew|
+-------+------------------+
|  count|               100|
|   mean|7.7990000000000075|
| stddev| 3.657581996429616|
|    min|              0.59|
|    max|              21.0|
+-------+------------------+

### Create a Linear Regression Model object

In [74]:
lr = LinearRegression(labelCol='crew')

In [75]:
lrModel = lr.fit(train_data)

In [78]:
print('Coefficients: {c} Intercept: {i}'.format(c=lrModel.coefficients, i=lrModel.intercept))

Coefficients: [-0.004346725043522768,-0.011044063500602,-0.13471641699353698,0.4215399825977412,0.9920833212622899,0.011579621929766831,0.04039700196281602] Intercept: -1.6998696805433429

In [79]:
test_results = lrModel.evaluate(test_data)

In [80]:
test_results.residuals.show()

+--------------------+
|           residuals|
+--------------------+
|  0.2776537751960042|
|  1.7955869579546704|
|  0.5136044517852199|
| 0.28146581488287303|
|-0.45122253289686753|
| 0.18652844332263463|
|  -0.782068954378401|
|-0.00137730662778...|
| -0.6738947314741282|
|  0.7594917706830842|
|  -0.610410682017168|
|  1.1261383054513399|
|-0.28357794964648964|
| 0.06644739105614761|
|-0.28704925245667035|
| -0.6060639569736459|
|  2.1777794233161174|
|-0.24576098410425118|
|-0.29728656195482905|
|-0.05490773316226...|
+--------------------+
only showing top 20 rows

In [81]:
unlabeled_data = test_data.select('features')

In [82]:
predictions = lrModel.transform(unlabeled_data)

In [83]:
predictions.show()

+--------------------+------------------+
|            features|        prediction|
+--------------------+------------------+
|[5.0,115.0,35.74,...|11.922346224803995|
|[5.0,122.0,28.5,1...|  4.90441304204533|
|[6.0,93.0,23.94,9...| 10.57639554821478|
|[6.0,110.23899999...|11.218534185117127|
|[6.0,112.0,38.0,9...|11.351222532896868|
|[6.0,113.0,37.82,...|11.813471556677365|
|[7.0,116.0,31.0,9...|12.782068954378401|
|[7.0,158.0,43.7,1...|13.601377306627787|
|[8.0,110.0,29.74,...|12.273894731474128|
|[9.0,88.5,21.24,9...| 9.540508229316917|
|[9.0,105.0,27.2,8...|11.290410682017168|
|[9.0,113.0,26.74,...|11.253861694548661|
|[10.0,58.825,15.6...|  7.28357794964649|
|[10.0,68.0,10.8,7...| 6.293552608943853|
|[10.0,81.76899999...|  8.70704925245667|
|[10.0,105.0,27.2,...|11.286063956973646|
|[10.0,151.4,26.2,...|10.352220576683882|
|[11.0,86.0,21.24,...| 9.545760984104252|
|[11.0,90.09,25.01...|  8.77728656195483|
|[11.0,91.62700000...| 9.054907733162263|
+--------------------+------------------+
only showing top 20 rows

In [84]:
test_data.show()

+--------------------+-----+
|            features| crew|
+--------------------+-----+
|[5.0,115.0,35.74,...| 12.2|
|[5.0,122.0,28.5,1...|  6.7|
|[6.0,93.0,23.94,9...|11.09|
|[6.0,110.23899999...| 11.5|
|[6.0,112.0,38.0,9...| 10.9|
|[6.0,113.0,37.82,...| 12.0|
|[7.0,116.0,31.0,9...| 12.0|
|[7.0,158.0,43.7,1...| 13.6|
|[8.0,110.0,29.74,...| 11.6|
|[9.0,88.5,21.24,9...| 10.3|
|[9.0,105.0,27.2,8...|10.68|
|[9.0,113.0,26.74,...|12.38|
|[10.0,58.825,15.6...|  7.0|
|[10.0,68.0,10.8,7...| 6.36|
|[10.0,81.76899999...| 8.42|
|[10.0,105.0,27.2,...|10.68|
|[10.0,151.4,26.2,...|12.53|
|[11.0,86.0,21.24,...|  9.3|
|[11.0,90.09,25.01...| 8.48|
|[11.0,91.62700000...|  9.0|
+--------------------+-----+
only showing top 20 rows

In [87]:
print(f"MSE: {test_results.meanSquaredError}")
print(f"RMSE: {test_results.rootMeanSquaredError}")
print(f"R squared: {test_results.r2}")

MSE: 0.6450991608961891
RMSE: 0.8031806527153086
R squared: 0.9379161296286287

In [86]:
test_data.describe().show()

+-------+------------------+
|summary|              crew|
+-------+------------------+
|  count|                58|
|   mean| 7.785862068965517|
| stddev|3.2516247137218754|
|    min|              0.59|
|    max|              13.6|
+-------+------------------+

In [95]:
data.stat.corr('crew', 'cabins')

0.9508226063578497