# Logistic Regression Consulting Project

## Binary Customer Churn

A marketing agency has many customers that use their service to produce ads for the client/customer websites. They've noticed that they have quite a bit of churn in clients. They basically randomly assign account managers right now, but want you to create a machine learning model that will help predict which customers will churn (stop buying their service) so that they can correctly assign the customers most at risk to churn an account manager. Luckily they have some historical data, can you help them out? Create a classification algorithm that will help classify whether or not a customer churned. Then the company can test this against incoming data for future customers to predict which customers will churn and assign them an account manager.

The data is saved as customer_churn.csv. Here are the fields and their definitions:

    Name : Name of the latest contact at Company
    Age: Customer Age
    Total_Purchase: Total Ads Purchased
    Account_Manager: Binary 0=No manager, 1= Account manager assigned
    Years: Totaly Years as a customer
    Num_sites: Number of websites that use the service.
    Onboard_date: Date that the name of the latest contact was onboarded
    Location: Client HQ Address
    Company: Name of Client Company
    
Once you've created the model and evaluated it, test out the model on some new data (you can think of this almost like a hold-out set) that your client has provided, saved under new_customers.csv. The client wants to know which customers are most likely to churn given this data (they don't have the label yet).

In [1]:
import findspark 
findspark.init('/home/gkouskosv/spark-2.4.5-bin-hadoop2.6/')

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('ConProj').getOrCreate()

In [3]:
data = spark.read.csv('customer_churn.csv',header=True,inferSchema=True)

In [4]:
data.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: integer (nullable = true)

In [5]:
data.select('Company').distinct().count()

873

In [6]:
by_comp = data.groupBy('Company').count()
by_comp.orderBy(by_comp['count'].desc()).show()

+--------------+-----+
|       Company|count|
+--------------+-----+
|Anderson Group|    4|
|    Wilson PLC|    3|
|  Williams PLC|    3|
|Perry and Sons|    2|
|      Webb PLC|    2|
|    Walker Ltd|    2|
|     Smith Inc|    2|
|      Rice PLC|    2|
|   Smith Group|    2|
|Smith and Sons|    2|
|     Evans LLC|    2|
|     Jones LLC|    2|
|     Smith Ltd|    2|
|  Williams LLC|    2|
|    Nelson LLC|    2|
|      King LLC|    2|
|      Soto PLC|    2|
|     Ortiz Ltd|    2|
|   Davis Group|    2|
|Davis and Sons|    2|
+--------------+-----+
only showing top 20 rows

As for the column 'Company', it is better to drop it than hold it. The amount of companies are 873, and each one are shown from 1 to 4 times.

In [7]:
data.select('Num_Sites').distinct().show()

+---------+
|Num_Sites|
+---------+
|      8.0|
|      7.0|
|      4.0|
|     11.0|
|     14.0|
|      3.0|
|     10.0|
|     13.0|
|      6.0|
|      5.0|
|      9.0|
|     12.0|
+---------+

Let's find out if Location column is helpful enough to be in out logistic regression model. It is better to hold only the zipcode from the whole address.

In [8]:
data.select('Location').head(5)

[Row(Location='10265 Elizabeth Mission Barkerburgh, AK 89518'),
 Row(Location='6157 Frank Gardens Suite 019 Carloshaven, RI 17756'),
 Row(Location='1331 Keith Court Alyssahaven, DE 90114'),
 Row(Location='13120 Daniel Mount Angelabury, WY 30645-4695'),
 Row(Location='765 Tricia Row Karenshire, MH 71730')]

In [9]:
from pyspark.sql.functions import split, monotonically_increasing_id

In [10]:
zip_code = [word[0][-1] for word in data.select(split('Location', ' ')).collect()]
zip_code[:5]

['89518', '17756', '90114', '30645-4695', '71730']

In [11]:
def del_minus(lst):
    without_minus = []
    for code in lst:
        if '-' in code:
            without_minus.append(code.split('-')[0])
        else:
            without_minus.append(code)
    return without_minus

In [12]:
no_minus_zip = del_minus(zip_code)

In [13]:
no_minus_zip[:5]

['89518', '17756', '90114', '30645', '71730']

In [14]:
zip_code[:5]

['89518', '17756', '90114', '30645-4695', '71730']

In [15]:
data.select('Location', split('Location', ' ')[0]).show()

+--------------------+---------------------+
|            Location|split(Location,  )[0]|
+--------------------+---------------------+
|10265 Elizabeth M...|                10265|
|6157 Frank Garden...|                 6157|
|1331 Keith Court ...|                 1331|
|13120 Daniel Moun...|                13120|
|765 Tricia Row Ka...|                  765|
|6187 Olson Mounta...|                 6187|
|4846 Savannah Roa...|                 4846|
|25271 Roy Express...|                25271|
|3725 Caroline Str...|                 3725|
|363 Sandra Lodge ...|                  363|
|Unit 8120 Box 916...|                 Unit|
|Unit 1895 Box 094...|                 Unit|
|897 Kelley Overpa...|                  897|
|11488 Weaver Cape...|                11488|
|1774 Peter Row Ap...|                 1774|
|45408 David Path ...|                45408|
|28216 Wright Moun...|                28216|
|Unit 4948 Box 481...|                 Unit|
|69203 Crosby Divi...|                69203|
|9569 Caldwell Cre...|                 9569|
+--------------------+---------------------+
only showing top 20 rows

In [16]:
no_minus_zip = spark.createDataFrame([(value,) for value in no_minus_zip], ['no_minus_zip'])

In [17]:
type(no_minus_zip['no_minus_zip'])

pyspark.sql.column.Column

In [18]:
zip_code[0]

'89518'

In [19]:
zip_code[:10]

['89518',
 '17756',
 '90114',
 '30645-4695',
 '71730',
 '74359',
 '87713-3460',
 '59852-6150',
 '82059',
 '51655-7561']

In [20]:
zip_code = spark.createDataFrame([(value,) for value in zip_code], ['zip_code'])

In [21]:
zip_code = zip_code.withColumn('id', monotonically_increasing_id())
data = data.withColumn('id', monotonically_increasing_id())

In [22]:
data = data.join(zip_code, on='id', how='inner').drop('id')

In [23]:
data.select('zip_code').show()

+----------+
|  zip_code|
+----------+
|     89518|
|     17756|
|     90114|
|30645-4695|
|     71730|
|     74359|
|87713-3460|
|59852-6150|
|     82059|
|51655-7561|
|     43432|
|     40249|
|     44793|
|63417-8544|
|     18782|
|54903-6698|
|40999-2369|
|     42669|
|     87064|
|     30637|
+----------+
only showing top 20 rows

In [24]:
data.select(data['zip_code'].substr(1,5).alias('zip')).show()

+-----+
|  zip|
+-----+
|89518|
|17756|
|90114|
|30645|
|71730|
|74359|
|87713|
|59852|
|82059|
|51655|
|43432|
|40249|
|44793|
|63417|
|18782|
|54903|
|40999|
|42669|
|87064|
|30637|
+-----+
only showing top 20 rows

In [25]:
data = data.withColumn('zip', data['zip_code'].substr(1,5)).drop('zip_code')

In [26]:
data.show()

+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+-----+
|              Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|       Onboard_date|            Location|             Company|Churn|  zip|
+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+-----+
|   Cameron Williams|42.0|       11066.8|              0| 7.22|      8.0|2013-08-30 07:00:40|10265 Elizabeth M...|          Harvey LLC|    1|89518|
|      Kevin Mueller|41.0|      11916.22|              0|  6.5|     11.0|2013-08-13 00:38:46|6157 Frank Garden...|          Wilson PLC|    1|17756|
|        Eric Lozano|38.0|      12884.75|              0| 6.67|     12.0|2016-06-29 06:20:07|1331 Keith Court ...|Miller, Johnson a...|    1|90114|
|      Phillip White|42.0|       8010.76|              0| 6.71|     10.0|2014-04-22 12:43:12|13120 Daniel Moun...|           Smith Inc|    1|30645|
|     Cynthia Norton|37.0|       9191.58|              0| 5.56|      9.0|2016-01-19 15:31:15|765 Tricia Row Ka...|          Love-Jones|    1|71730|
|   Jessica Williams|48.0|      10356.02|              0| 5.12|      8.0|2009-03-03 23:13:37|6187 Olson Mounta...|        Kelly-Warren|    1|74359|
|        Eric Butler|44.0|      11331.58|              1| 5.23|     11.0|2016-12-05 03:35:43|4846 Savannah Roa...|   Reynolds-Sheppard|    1|87713|
|      Zachary Walsh|32.0|       9885.12|              1| 6.92|      9.0|2006-03-09 14:50:20|25271 Roy Express...|          Singh-Cole|    1|59852|
|        Ashlee Carr|43.0|       14062.6|              1| 5.46|     11.0|2011-09-29 05:47:23|3725 Caroline Str...|           Lopez PLC|    1|82059|
|     Jennifer Lynch|40.0|       8066.94|              1| 7.11|     11.0|2006-03-28 15:42:45|363 Sandra Lodge ...|       Reed-Martinez|    1|51655|
|       Paula Harris|30.0|      11575.37|              1| 5.22|      8.0|2016-11-13 13:13:01|Unit 8120 Box 916...|Briggs, Lamb and ...|    1|43432|
|     Bruce Phillips|45.0|       8771.02|              1| 6.64|     11.0|2015-05-28 12:14:03|Unit 1895 Box 094...|    Figueroa-Maynard|    1|40249|
|       Craig Garner|45.0|       8988.67|              1| 4.84|     11.0|2011-02-16 08:10:47|897 Kelley Overpa...|     Abbott-Thompson|    1|44793|
|       Nicole Olson|40.0|       8283.32|              1|  5.1|     13.0|2012-11-22 05:35:03|11488 Weaver Cape...|Smith, Kim and Ma...|    1|63417|
|     Harold Griffin|41.0|       6569.87|              1|  4.3|     11.0|2015-03-28 02:13:44|1774 Peter Row Ap...|Snyder, Lee and M...|    1|18782|
|       James Wright|38.0|      10494.82|              1| 6.81|     12.0|2015-07-22 08:38:40|45408 David Path ...|      Sanders-Pierce|    1|54903|
|      Doris Wilkins|45.0|       8213.41|              1| 7.35|     11.0|2006-09-03 06:13:55|28216 Wright Moun...|Andrews, Adams an...|    1|40999|
|Katherine Carpenter|43.0|      11226.88|              0| 8.08|     12.0|2006-10-22 04:42:38|Unit 4948 Box 481...|Morgan, Phillips ...|    1|42669|
|     Lindsay Martin|53.0|       5515.09|              0| 6.85|      8.0|2015-10-07 00:27:10|69203 Crosby Divi...|      Villanueva LLC|    1|87064|
|        Kathy Curry|46.0|        8046.4|              1| 5.69|      8.0|2014-11-06 23:47:14|9569 Caldwell Cre...|Berry, Orr and Ca...|    1|30637|
+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+-----+
only showing top 20 rows